body {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    font-family: 'Afacad Flux', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.small-container {
    width: 800px;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.toggle {
    position: relative;
    width: 240px;
    height: 38px;
    display: flex;
    padding: 3px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(222, 226, 230);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.toggle button {
    z-index: 1;
    text-decoration: none;
    width: 125px;
    height: 100%;
    border: none;
    background-color: transparent;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.toggle button.active {
    color: white;
}

.slider {
    position: absolute;
    width: 114px;
    height: 32px;
    border-radius: 20px;
    background-color: #3498DB;
    transition: transform 0.2s ease;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.slider.left {
    transform: translateX(-60px);
}

.slider.right {
    transform: translateX(60px);
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    transition: height 0.3s ease-out;
}

.sort-select {
    width: 240px;
}

.hide-select {
    visibility: hidden;
}

.sort-label {
    border-radius: 20px;
}

.sort-input {
    max-width: 180px;
    border-radius: 20px;
}

.book-card {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card-link {
    text-decoration: none;
    color: inherit;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 15px;
}

.book-card:active {
    transform: translateY(0px) scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.book-card-body {
    width: 200px;
    padding: 10px 20px;
    height: 180px;
}

.book-card-text {
    margin-top: 12px;
    line-height: 1;
}

.book-card-title {
    height: 30px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.book-card-subtitle {
    margin: 0 0 12px 0;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    color: #777;
}

.cover-img {
    width: 100%;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.read-badge {
    border: 1px solid #198754;
    color: #198754;
    width: 42px;
}

.to-read-badge {
    border: 1px solid #999;
    color: #999;
}

.add-form-label {
    width: 80px;
}

.add-search {
    margin: 25px 0 0 0;
    position: relative;
}

.search-results {
    margin: 0;
    position: absolute;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
    z-index: 1;
}

.add-form {
    margin-top: 15px;
}

.add-info {
    margin: 10px 0;
}

#add-notes {
    display: none;
}

.notes-input {
    height: 300px;
}

.read-switch {
    margin-bottom: 18px;
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notes-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
}

.icon-btn {
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-btn:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}

.edit-btn {
    color: #333;
    background-color: lightblue;
}

.delete-btn {
    color: #333;
    background-color: lightsalmon;
}

.cancel-btn {
    background-color: lightgray;
}

.modal-btn {
    width: 70px;
    height: 35px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.modal-btn:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}


.notes-img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin-right: 25px;
    object-fit: cover;
}

.notes-header h1 {
    font-size: 2.3rem;
    margin: 0;
    color: #333;
}

.notes-header h5 {
    font-size: 1.3rem;
    margin: 0 0 15px 0;
    color: #666;
}

.notes-info {
    margin-bottom: 20px;
}

.notes-info p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #444;
}

.notes-body {
    margin-bottom: 30px;
}

.notes-body p {
    font-size: 1.2rem;
    line-height: 1.5;
}


@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .small-container {
        max-width: 800px;
    }

    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 690px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .small-container {
        max-width: 700px;
    } 

    .book-grid {
        max-width: 400px;
        grid-template-columns: 1fr;
    }

    .header .title {
        display: none;
    }

    .filters {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}