@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }

  .small-container {
    max-width: 560px;
  }

  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .large {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-grid {
    max-width: 400px;
    grid-template-columns: 1fr;
  }

  .filters {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-content {
    padding: 15px 20px;
  }

  .header .title {
    display: none;
  }
}

@media (max-width: 525px) {
  .book-info {
    flex-direction: column;
  }
  .book-text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .toggle-box {
    justify-content: center;
  }

  .toggle-box .info-input-label {
    display: none;
  }
}
